<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5917850-710e-43fb-9fdb-5c8a5d23d600" Alias="Test Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestPage</Path>
    <Trashed>false</Trashed>
    <ContentType>auditTestPage</ContentType>
    <CreateDate>2026-08-17T21:37:09</CreateDate>
    <NodeName Default="Test Page">
      <Name Culture="en-US">Test Page</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "blocks": null,
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=500\u0026amp;height=500\u0022 alt=\u0022summer-picnic.png\u0022 width=\u0022500\u0022 height=\u0022333\u0022 data-udi=\u0022umb://media/4c949dc9841047beb0bce8ee96860de8\u0022\u003E\u003C/p\u003E"
}]]></Value>
    </bodyText>
    <contentBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e5ab3778-e711-4d44-a8b2-b52e31e0bb1c",
      "key": "96a26070-5ca5-403d-a145-43af2cd6008b",
      "values": [
        {
          "alias": "avatar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "44f3f5ea-e396-4bcf-8a1f-e9fba2dc409b",
              "mediaKey": "34700d0d-7944-40b8-8f81-93ae347948b3",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "quote",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": null,
            "markup": "\u003Cp\u003EGet the style guide:\u0026nbsp;\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:0e099212-1872-425f-b18e-92681a27ba6a}\u0022 title=\u0022style-guide.pdf\u0022 type=\u0022media\u0022\u003EStyle\u0026nbsp;Guide\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "96a26070-5ca5-403d-a145-43af2cd6008b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "96a26070-5ca5-403d-a145-43af2cd6008b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentBlocks>
    <featuredMedia>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "74d1f2d2-7499-46be-87ba-f81b565d98dd",
    "mediaKey": "1742125e-6039-4982-b526-c427d2184b59",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </featuredMedia>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>