<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7aa93667-e795-4d35-8455-ad6ee7473f0c" Alias="Media Audit Test - Media Picker" Level="1">
  <Info>
    <Name>Media Audit Test - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>