<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9ad3533-dace-457a-af03-89df963cdca9" Alias="Media Audit Test - Block List (Testimonial)" Level="1">
  <Info>
    <Name>Media Audit Test - Block List (Testimonial)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e8453135-ec9e-4626-a38e-cfef51b8db4c",
      "settingsElementTypeKey": null
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>