<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd59e6c8-9b93-4ce0-992f-9d127dc73bdf" Alias="Media Audit Test - Rich Text" Level="1">
  <Info>
    <Name>Media Audit Test - Rich Text</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>