<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5917850-710e-43fb-9fdb-5c8a5d23d600" Alias="Test Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestPage</Path>
    <Trashed>false</Trashed>
    <ContentType>auditTestPage</ContentType>
    <CreateDate>2026-08-17T21:37:09</CreateDate>
    <NodeName Default="Test Page">
      <Name Culture="en-US">Test Page</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "blocks": null,
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=500\u0026amp;height=500\u0022 alt=\u0022summer-picnic.png\u0022 width=\u0022500\u0022 height=\u0022333\u0022 data-udi=\u0022umb://media/4c949dc9841047beb0bce8ee96860de8\u0022\u003E\u003C/p\u003E"
}]]></Value>
    </bodyText>
    <contentBlocks>
      <Value><![CDATA[]]></Value>
    </contentBlocks>
    <featuredMedia>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </featuredMedia>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>