<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0a6e419-9d89-4633-a041-a1247bd7c058" Alias="Media Audit Test - Block List (Testimonial)" Level="1">
  <Info>
    <Name>Media Audit Test - Block List (Testimonial)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e5ab3778-e711-4d44-a8b2-b52e31e0bb1c",
      "settingsElementTypeKey": null
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>