<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6580fba9-7310-491d-bb65-6708d9994c21" Alias="Media Audit Test - Media Picker" Level="1">
  <Info>
    <Name>Media Audit Test - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>